{% extends 'base2.html' %}
{% load static %}


{% block content %}
{% if request.user.is_authenticated %}

<div class="container">

  <img src="{% static 'images/logo.png' %}" alt="">
  <h1>A D A</h1>
  <br>
  <H4>Another Dating APP</H4>
  <h5>Welcome back, {{ user.get_username }}</h5>
  <a href="{% url 'all-users-page' %}" class="btn btn-success" id="loginbtn">See All Users</a>
  </div>

  {% else %}
  <div class="container">
    <img src="{% static 'images/logo.png' %}" alt="">
    <h1>A D A</h1>
    <H4>Another Dating APP</H4>
<div class="card">
    <!-- Jango form here-->
    <div class="border-top pt-3">
      <small id="account">
          Already Have An Account? <a href="{% url 'login' %}">Sign In</a>
      </small>
  </div>
    <form method="post" enctype="multipart/form-data" id="formtest">
    {% csrf_token %}
    {{ form.as_p }}
    {{ profile_form.as_p }}
    <button type="submit">Sign Up</button>
    </form>


</div>

  {% endif %}

{% endblock %}
