<div class="col-md">
    <figure class="card card-product-grid card-lg" id="profile-card">
        <div class="img-wrap" id="profile-img">
            <a href="{% url 'view-profile-page-pk' user.id %}"><img class="card-img-top" src="{{ user.userprofile.image.url }}" ></a>
        </div>
        <figcaption class="info">
            <a href="{% url 'view-profile-page-pk' user.id %}" class="title">{{ user.first_name }} {{ user.last_name }}</a>
            <p class="text-muted">{{ user.userprofile.location }}</p>
            <p class="text-muted">Gender: {{ user.userprofile.gender }}</p>
            <p class="text-muted">Age: {{ user.userprofile.age }}</p>


        </figcaption>
        <div class="bottom-wrap">
            <div class="age-wrap" id="age">
                <!-- <span class="age">Age: {{ user.userprofile.age }}</span> -->

            </div> <!-- price-wrap.// -->
            <a href="{% url 'chat:index' %}" class="btn btn-primary" id="profile-btn">Start chat!</a>
            <a href="{% url 'payment' %}" class="btn btn-primary" id="gift-btn">Gift</a>


        </div> <!-- bottom-wrap.// -->
    </figure>
</div> <!-- col.// -->
