<div class="col-md-4">
    <figure class="card card-product-grid card-lg" id="profile-card">
        <div class="img-wrap" id="profile-img">
            <a href="{% url 'view-profile-page-pk' user.id %}"><img class="card-img-top" src="{{ user.userprofile.image.url }}" ></a>
        </div>
        <figcaption class="info">
            <a href="{% url 'view-profile-page-pk' user.id %}" class="title">{{ user.first_name }} {{ user.last_name }}</a>
            <p class="text-muted">{{ user.userprofile.location }}</p>
        </figcaption>
        <div class="bottom-wrap">
            <a href="" class="btn btn-primary float-right" id="profile-btn">Start chat!</a>
            <div class="age-wrap" id="age">
                <span class="age">Age: {{ user.userprofile.age }}</span>
            </div> <!-- price-wrap.// -->
        </div> <!-- bottom-wrap.// -->
    </figure>
</div> <!-- col.// -->