{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.userprofile.age }}</p>
    <p>Location: {{ user.userprofile.location }}</p>
    <p>Gender: {{ user.userprofile.gender }}</p>
    <a href="{% url 'user-post-page' %}">Add Post</a>


    {% for complement in user.complement_set.all reversed %}
        <p>{{ complement.content }}</p>
        <small class="text-muted">Posted by: {{ complement.from_user }} -- {{ complement.timestamp }}</small>
        <hr>
    {% empty %}
        <p>No comments yet</p>
    {% endfor %}

    <img src="{{ user.userprofile.image.url }}" style="width:100%; height: 450px !important;" >


</div>

{% endblock %}