{% extends 'base.html' %}

{% block content %}
<!-- <div class="container">
    <h1>My Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.userprofile.age }}</p>
    <p>Location: {{ user.userprofile.location }}</p>
    <p>Gender: {{ user.userprofile.gender }}</p>
    <a href="{% url 'user-post-page' %}">Add Post</a>

    {% for post in user.userpost_set.all reversed %}
    <p>{{ post.content }}</p>
    <small class="text-muted">Posted by: {{ post.from_user }} -- {{ post.timestamp }}</small>
    <hr>
    {% empty %}
        <p>No comments yet</p>
    {% endfor %}

    <img src="{{ user.userprofile.image.url }}" style="width:100%; height: 450px !important;" > -->


    <!-- <div class="row"> -->
        <div class="col-md-4">
            <figure class="card card-product-grid card-lg" id="profile-card">
                <div class="img-wrap" id="profile-img">
                    <img src="{{ user.userprofile.image.url }}">
                </div>
                <figcaption class="info">
                    <a class="title">New Profile</a>
                    <p class="text-muted">New York</p>
                </figcaption>
                <div class="bottom-wrap">
                    <a href="" class="btn btn-primary float-right" id="profile-btn">Start chat!</a>
                    <div class="age-wrap" id="age">
                        <span class="age">22</span>
                    </div> <!-- price-wrap.// -->
                </div> <!-- bottom-wrap.// -->
            </figure>
        </div> <!-- col.// -->

<!-- </div> -->

{% endblock %}