{% extends 'base.html' %}

{% block content %}
    <!-- <h1>Profile</h1>
    <p>Username: {{ user }}</p>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Age: {{ user.userprofile.age }}</p>
    <p>Location: {{ user.userprofile.location }}</p>
    <p>Gender: {{ user.userprofile.gender }}</p>


    {% for post in user.userpost_set.all reversed %}
        <p>{{ post.content }}</p>
        <small class="text-muted">Posted by: {{ post.from_user }} -- {{ post.timestamp }}</small>
        <hr>
    {% empty %}
        <p>No comments yet</p>
    {% endfor %}

    <img src="{{ user.userprofile.image.url }}" style="width:100%; height: 450px !important;" > -->

    {% include "registrants/partials/user_card.html" %}




{% endblock %}
