{% load static %}

<DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Document</title>
</head>
<body>
    <a href="{% url 'view-profile-page' %}">Profile</a>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'all-users-page' %}">All Users</a>
    <a href="{% url 'sign-up-page' %}">Sign Up</a>
    <a href="{% url 'random-user-page' %}">Random User</a>
    <a href="{% url 'male-user-page' %}">Male Users</a>
    <a href="{% url 'female-user-page' %}">Female Users</a>
    <a href="{% url 'logout' %}">Logout</a>


    {% if request.user.is_authenticated %}
    <a href="{% url 'profile-update-page' %}" class="btn btn-info">Update Profile</a>
    {% endif %}


    Hello,
    {% if request.user.is_authenticated %}
        {{ user.get_username }}
    {% else %}
        Guest
    {% endif %}

    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
        {{ message }}
        </div>
    {% endfor %}
{% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>